HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Docs and Scripts ###
docs/
scripts/

### Markdown Files (except README.md) ###
# Ignore all .md files except README.md / 忽略所有.md文件，除了README.md
*.md
!README.md

# IntelliJ IDEA
*.ipr
*.iws
.idea/
*.iml
